<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/materialize/css/materialize.min.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Admin</title>
    <style>
        
    </style>
</head>

<body>
    <div class="container">
            {% for coleta in coletas %}
            {%if coleta.data == data_atual.date() and coleta.status == 'confirmado' %}
        <div class="row">
            <h5>Coletas soclicitadas hoje</h5>
        </div>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>nome do solicitante</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Bairro</th>
                        <th>rua</th>
                        <th>descrição</th>
                        <th>hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ usuario.query.get(coleta.user_id).nome }}</td>
                        <td>{{usuario.query.get(coleta.user_id).telefone}}</td>
                        <td>{{usuario.query.get(coleta.user_id).email}}</td>
                        <td>{{coleta.bairro}}</td>
                        <td>{{coleta.rua}}</td>
                        <td>{{coleta.desc}}</td>
                        <td>{{coleta.hora}}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row">
            <h5>Solicitação anteriores</h5>
        </div>

        <div class="row">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>nome do solicitante</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Bairro</th>
                            <th>rua</th>
                            <th>descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coleta in coletas %}
                        {%if  coleta.status == 'confirmado' %}
                        
                        <tr>
                            <td>{{ usuario.query.get(coleta.user_id).nome }}</td>
                            <td>{{usuario.query.get(coleta.user_id).telefone}}</td>
                            <td>{{usuario.query.get(coleta.user_id).email}}</td>
                            <td>{{coleta.bairro}}</td>
                            <td>{{coleta.rua}}</td>
                            <td>{{coleta.desc}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>

    <a href="{{ url_for('admin_logout') }}">Sair</a>
    <script src="{{ url_for('static',filename='lib/materialize/js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>

</html>